{% extends "pages/base.twig" %}

{% block title %}Welcome Home
{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 {
            color: #00D67C;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>
        Hello
        <em>
            {% if name is not empty %}
                {{- name|title -}}
            {% else %}
                World
            {%- endif %}
        </em>!
    </h1>

    {% if date() < date('2027-01-01') %}
        {% set difference = date().diff(date('2027-01-01')) %}
        {{ difference.days }}
        days until 2027
    {% else %}
        I can see clearly now
    {% endif %}
{% endblock %}
